body {
    font-family: "Roboto", sans-serif;
    background-color: #F4F4FD;
}

.list { 
    list-style: none;
}

.link {
    text-decoration: none;
}

.solvable{
    background-color:#2E2F42;
}

.navigation-list:hover {
    color: #404bbf;
}

.navigation-list:focus {
    color: #404bbf;
}
.navigation-list {
font-weight: 500;
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.02em;
color: #2E2F42;
}

.nav.header-address-link:hover {
    color: #404bbf;
}

.nav.header-address-link:focus {
    color: #404bbf;
}

.nav.header-address-link {
font-weight: 400;
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.02em;
}

.header-buttion:hover {
    color: #404bbf;
}

.header-buttion:focus {
    color: #404bbf;
}

.header-buttion {
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color:#FFFFFF;
}

.solvable-title {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.second-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.first-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.about {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.compound {

font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.paragraf {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.flow {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}

.footer-link {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
.footer {
background-color:#2E2F42;
}